@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, select {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  color: #171219;
  line-height: 150%;
}

h2 {
  font-size: 2.6rem;
}

.navbar {
  background-color: #DCC58F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 95px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar__logo {
  width: 100px;
  height: 100px;
}

.navbar__links {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 105px;
  right: 0;
  background-color: #DCC58F;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.navbar__link > a {
  display: block;
  padding: 20px;
  color: #755528;
  font-weight: 700;
}

.show-navbar .navbar__links {
  width: 100%;
}

.navbar__link {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
}

.show-navbar .navbar__link {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__burger {
  display: block;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__burger-line {
  display: block;
  width: 45px;
  height: 4px;
  background: #755528;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar__burger-line::before, .navbar__burger-line::after {
  content: '';
  position: absolute;
  left: 0;
  width: 45px;
  height: 4px;
  background: #755528;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar__burger-line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.navbar__burger-line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.show-navbar .navbar__burger-line {
  width: 0;
  background: transparent;
}

.show-navbar .navbar__burger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-navbar .navbar__burger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.show-navbar .delay1 {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.show-navbar .delay2 {
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.show-navbar .delay3 {
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}

.show-navbar .delay4 {
  -webkit-transition: all 1.3s ease-out;
  transition: all 1.3s ease-out;
}

@media screen and (min-width: 1250px) {
  .navbar__burger {
    display: none;
  }
  .navbar__links {
    width: 65%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: none;
    transition: none;
    top: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__link {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar__link:hover {
    letter-spacing: 0.5rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.idea {
  padding: 80px 20px 80px 20px;
}

.idea__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.idea__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

@media screen and (min-width: 1250px) {
  .idea__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .idea__img {
    width: 55%;
  }
  .idea__content {
    width: 35%;
  }
}

.menu {
  padding: 80px 0 80px 0;
  display: block;
}

.menu__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.menu__slider {
  width: 100%;
}

.menu__slider > img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1250px) {
  .menu__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .menu__slider > img {
    width: 45%;
    height: auto;
  }
}

.us {
  padding: 80px 20px 80px 20px;
  background-color: #dcc58f;
}

.us__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.us__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

@media screen and (min-width: 1250px) {
  .us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .us__img {
    width: 45%;
  }
  .us__content {
    width: 45%;
  }
}

.contact {
  padding: 80px 20px 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 400px;
}

.contact__img {
  width: 50%;
  height: auto;
  margin: auto;
}

.contact__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.contact__text {
  margin-bottom: 20px;
}

.maps__button {
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #419d78;
  color: white;
  text-align: center;
  border: 1px solid #419d78;
  border-radius: 5px;
  width: 50%;
}

.contact__smallTitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #171219;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__fb, .contact__insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 40px;
  background-color: #419d78;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

@media screen and (min-width: 1250px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
  }
  .contact__img {
    width: 25%;
  }
  .contact__content {
    width: 45%;
  }
  .socialmedia__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .contact__smallTitle {
    width: 25%;
  }
  .contact__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #dcc58f;
  color: #171219;
}

.footer > p {
  font-size: 1.2rem;
}

.footer__link {
  color: #171219;
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (min-width: 1250px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer > p {
    font-size: 1.5rem;
  }
  .footer__link {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */