@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, select {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  color: #171219;
}

h2 {
  font-size: 2.6rem;
}

.navbar {
  background-color: #E1C297;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 95px;
}

.navbar__logo {
  width: 100px;
  height: 100px;
}

.navbar__links {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 105px;
  right: 0;
  background-color: #E1C297;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.show-navbar .navbar__links {
  width: 100%;
}

.navbar__link {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
}

.show-navbar .navbar__link {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__link > a {
  display: block;
  padding: 20px;
}

.navbar__burger {
  display: block;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar__burger-line {
  display: block;
  width: 45px;
  height: 4px;
  background: #755528;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar__burger-line::before, .navbar__burger-line::after {
  content: '';
  position: absolute;
  left: 0;
  width: 45px;
  height: 4px;
  background: #755528;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar__burger-line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.navbar__burger-line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.show-navbar .navbar__burger-line {
  width: 0;
  background: transparent;
}

.show-navbar .navbar__burger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-navbar .navbar__burger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.show-navbar .delay1 {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.show-navbar .delay2 {
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.show-navbar .delay3 {
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}

.show-navbar .delay4 {
  -webkit-transition: all 1.3s ease-out;
  transition: all 1.3s ease-out;
}

.idea {
  padding: 20px;
}

.idea__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.idea__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.menu {
  padding: 20px 0 20px 0;
  background-color: #E1C297;
  display: block;
}

.menu__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.menu__slider {
  max-width: 100%;
}

.menu__slider > img {
  width: 100%;
  height: auto;
}

.us {
  padding: 20px;
}

.us__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.us__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.contact {
  padding: 20px;
}

.contact__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.contact__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.maps__button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #419d78;
  color: white;
  text-align: center;
  border: 1px solid #419d78;
  border-radius: 5px;
  width: 50%;
}

.contact__smallTitle {
  font-weight: bold;
  margin-bottom: 20px;
  color: #171219;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__fb, .contact__insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 40px;
  background-color: #419d78;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E1C297;
  padding: 20px;
  color: #171219;
}

.footer > p {
  font-size: 1.2rem;
}

.footer__link {
  color: #171219;
  cursor: pointer;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */