@import "./Utils/variables", "./Utils/animations";
@import "./Base/reset", "./Base/typography";

// Glidejs
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// -----------NAVBAR-----------------
.navbar{
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 95px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar__logo{
    width: 100px;
    height: 100px;
}

.navbar__links {
    width: 0;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 105px;
    right: 0;
    background-color: $primaryColor;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.navbar__link > a {
    display: block;
    padding: 20px;
    color: $secondaryColor;
    font-weight: 700;
}

    // Utile au moment du click sur le bouton burger
.show-navbar .navbar__links {
    width: 100%;
}

.navbar__link{
    transform: translateX(101%); 
}

.show-navbar .navbar__link  {
    transform: translateX(0); 
}


    // Tout le style du bouton burger
.navbar__burger{
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &-line{
        display: block;
        width: 45px;
        height: 4px;
        background: $secondaryColor;
        border-radius: 3px;
        transition: all 0.4s ease-in-out;
    }
    &-line::before, &-line::after{
        content:'';
        position: absolute;
        left: 0;
        width: 45px;
        height: 4px;
        background: $secondaryColor;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }
    &-line::before {
        transform: translateY(-12px);
    }
    &-line::after {
        transform: translateY(12px);
    }
}

    // Animation au moment du click sur le bouton burger
.show-navbar .navbar__burger-line {
    width: 0;
    background: transparent;
}

.show-navbar .navbar__burger-line::before {
    transform: rotate(45deg);
}

.show-navbar .navbar__burger-line::after {
    transform: rotate(-45deg);
}

.show-navbar .delay1 {
    transition: all 1s ease-out;
}

.show-navbar .delay2 {
    transition: all 1.1s ease-out;
}

.show-navbar .delay3 {
    transition: all 1.2s ease-out;
}

.show-navbar .delay4 {
    transition: all 1.3s ease-out;
}

    //-------------------NAVBAR MEDIA QUERIES-------------------
@media screen and (min-width: 850px) {
    .navbar{
        margin-bottom: 40px;
    }

    .navbar__burger {
        display: none;
    }

    .navbar__links {
        width: 80%;
        height: fit-content;
        transition: none;
        top: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__link {
        transform: translateX(0); 
    }

    .navbar__link:hover {
        letter-spacing: 0.5rem;
        transition: all 0.5s ease-in-out;
    }
}

// -----------IDEA-----------------
.idea{
    padding: 40px 20px 40px 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.idea__img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.idea__title{
    font-weight: bold;
    margin-bottom: 20px;
    color: $colorTitle;
}

.idea__2title{
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: $tertiaryColor;
    font-family: 'Archivo Narrow', sans-serif;
}

.idea__container_hastags{
    overflow: hidden;
    height: 80px;
    padding: 0;

}

.idea__container__list{
    margin-top: 0;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.idea__container__list__items{
    line-height:40px;
    margin:0;
}

    //-------------------IDEA MEDIA QUERIES-------------------
    @media screen and (min-width: 850px) {
        .idea__container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin: 0 auto;
        }

        .slide__container {
            width: 39%;
            height: 80vh;
            overflow: hidden;
        }

        .idea__img{
            object-fit: cover;
        }

        .idea__content {
            width: 49%;
        }
    }

// -----------MENU-----------------
.menu{
    padding: 40px 0 80px 0;
}

.menu__containerTitle{
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__title {
    font-size: 2.5rem;
    color: $secondaryColor;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.drinks__img--isOpen {
    transform: translateX(-100%);
}

.food__img--isOpen {
    transform: translateX(0);
}

.menu__title--isActive {
    text-decoration: underline;
}

.menu__containerImg {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.menu__img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

    //-------------------MENU MEDIA QUERIES-------------------
    @media screen and (min-width: 850px) {
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu__containerTitle {
            display: none;
        }

        .menu__containerImg {
            justify-content: space-around;
            width: 90%;
        }

        .menu__img{
            width: 45%;
            height: auto;
            object-fit: contain;
        }
    }

// -----------LOCAL-----------------
.local {
    padding: 80px 20px 80px 20px;
    background-color: #dcc58f;
}

.local__img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.local__title{
    font-weight: bold;
    margin-bottom: 20px;
    color: $fontColor;
}

.local__text{
    text-align: justify;
}

    //-------------------LOCAL MEDIA QUERIES-------------------
    @media screen and (min-width: 850px) {
        .local__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            width: 90%;
            margin: 0 auto;
        }
        .local__img {
            width: 45%;

        }
        .local__content {
            width: 45%;
        }
    }

// -----------CONTACT-----------------

.contact {
    padding: 80px 20px 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact__img__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.contact__img{
    width: 100%;
    height: auto;
    margin: auto;

}

.contact__title{
    font-weight: bold;
    margin-bottom: 20px;
    color: $fontColor;
}

.contact__text{
    margin: 20px 0px 20px 0px;
}

.maps__button{
    display: block;
    margin: auto;
    padding: 10px;
    background-color: $tertiaryColor;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 50%;
}

.contact__telmail{
    text-decoration: underline;
    font-weight: bold;
    color: $tertiaryColor;
}

.maps__frame{
    display: none;
}

.contact__smallTitle{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $fontColor;
}

.contact__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__fb, .contact__insta {
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 40px;
    background-color: $tertiaryColor;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

    //-------------------CONTACT MEDIA QUERIES-------------------
    @media screen and (min-width: 850px) {
        .contact{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        .contact__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            width: 90%;
            margin: 0 auto;
        }
        .contact__img__container {
            width: 44%;
        }
        
        .contact__content {
            width: 55%;
            text-align: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .socialmedia__container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .contact__smallTitle {
            width: 25%;
        }

        .contact__links {
            display: flex;
            align-items: center;
            width: 25%;
        }

        .maps__button {
            display: none;
        }

        .maps__frame{
            display: block;
        }
    }

//----------FOOTER-----------------

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dcc58f;
    color: $fontColor;
}

.footer > p{
    font-size: 1.2rem;
}

.footer__link{
    color: $fontColor;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

    //-------------------FOOTER MEDIA QUERIES-------------------
    @media screen and (min-width: 850px) {
        .footer{
            justify-content: space-around;
        }
        .footer > p{
            font-size: 1.5rem;
        }
        .footer__link {
            font-size: 1.5rem;
        }
    }




